ion-title {
    text-align: center;
}

.max-width-50 {
    margin: auto;
}

.align-right {
    text-align: right;
}

.modal {
    --height: 50%;
    --width: 80%;
}

@media (min-width: 640px) {
    .max-width-50 {
        max-width: 50%;
        margin: auto;
    }
}

